# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# dotenv environment variables file
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.vscode/
.idea/
.DS_Store
*.swp

# macOS files
*.DS_Store

# coverage directory for testing
/coverage

# build directory
/build

# Temporary cache files
/webpack-cache/
/parcel-cache/
/.terser-cache/
/jest-cache/
/jest-config/

# Ignore any generated service worker file
/service-worker.js

# Ignore static asset directories if you're generating them in your build
/static

# Ignore lint result files
.eslintcache

# Ignore lockfiles, if you're using one package manager over the others
/package-lock.json
/yarn.lock
/pnpm-lock.yaml
